body{
    background-color: #0f172a;
    max-width: 800px; /*Não deixar largo demais em telas grandes*/
    margin: 0 auto; /*Centraliza o site na tela*/
    padding: 20px; /*Criar um respingo nas bordas em celulares  */
    line-height: 1.6; /*Aumenta o espaço entre as linhas do texto  */
    font-family: system-ui, sans-serif;

}


a{
    font-size: 1.2em;
    color: #6a1b9a;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    text-decoration: underline;
    color: #9c27b0;
}
li.vazio{
   list-style-type: circle;
}
h2{
    color: #f9fafb;
    font-weight: 700;
}
p{
 color: #e5e7eb;
 font-size: 1.2em;
}

li{
    color: #d1d5db;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1.3em;
}